body{
    background-color: #1976d2;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-items: center;
}

.card{
    width: 320px;
    padding: 40px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    display: inline-block;
}

#title{
    text-align: center;
    margin: 20px auto;
    color: white;
}

.title{
    color: #222;
    text-align: center;
}

#secondcard{
    margin-left: 40px;
}


div [type=text], div [type=submit] {
    width: 320px;
}

div [type=submit]{
    height: 50px;
    background-color: #1976d2;
    border: 1px solid #01579b;
    color: #fff;
    font-size: 25px;
}

.password{
    height: 50px;
    border-radius: 4px;
    border: 1px solid #01579b;
    color: #222;
    font-size: 25px;
}

.text{
    height: 150px;
    border-radius: 4px;
    border: 1px solid #01579b;
    color: #222;
    font-size: 25px;
}

#matchtext{
    color: #43a047;
    font-size: 30px;
    text-align: center;
}

#failtext{
    color: #e53935;
    font-size: 30px;
    text-align: center;
}
