{% extends "layout.html" %}

{% block content %}
    <h1 id="title">Password Kitchen</h1>
    <br>
    <div class="card">
        <h1 class="title">Hash</h1>
        <div>
            <form action="{{ url_for('route_hash_password') }}" method="get" class="inputdiv" id="firstcard">
                <label>
                    <input type="text" name="password1" class="password" placeholder="password">
                </label>
                <br><br>
                <label>
                    <input type="submit" name="submit" value="Hash it!">
                </label>
                <br><br>

                <label>
                    <textarea class="text" placeholder="hash" disabled>{% if hashed_value %}{{ hashed_value }}{% endif %}</textarea>
                </label>
             </form>
        </div>
    </div>

     <div class="card" id="secondcard">
        <h1 class="title">Verify</h1>
            <div class="inputdiv">

                <form action="{{ url_for('route_verify_hash_password') }}" method="get">

                    <label>
                        <input type="text" name="password2" class="password" placeholder="password" value="{{ password_input_to_verify }}">
                    </label>
                    <br><br>
                    <label>
                        <textarea class="text"  name="hash" placeholder="hash">{{ hashed_value_to_verify }}</textarea>
                    </label>
                    <br><br>
                    <label>
                        <input type="submit" name="submit" value="Verify it!">
                    </label>
                    {% if verify_second_password %}
                        <style>
                            body{background-color: #43a047;}
                        </style>
                        <p id="matchtext">It's a match!</p>
                    {% endif %}
                    {% if verify_value %}
                        <style>
                            body{background-color: #e53935;}
                        </style>
                    <p id="failtext">Doesn't match! :(</p>
                    {% endif %}
                </form>

            </div>
    </div>

{% endblock %}
